<!DOCTYPE html>
<html ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <title>TO DO List</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet"/>
    <script type="text/javascript" src="js/angluar/angular.min.js"></script>
    <script type="text/javascript" src="js/angluar/angular-animate.js"></script>
    <script type="text/javascript" src="js/angluar/angular-resource.js"></script>
    <script type="text/javascript" src="js/angluar/angular-route.js"></script>
    <script src="http://mockjs.com/dist/mock.js"></script>
    <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}.ng-animate-start{clip:rect(0,auto,auto,0);-ms-zoom:1.0001;}.ng-animate-active{clip:rect(-1px,auto,auto,0);-ms-zoom:1;}
    </style>
    
</head>
<body ng-controller="ToDoCtrl">
<div class="page-header">
    <h1>{{todo.user}}'s TO DO List
    <!--添加ng-hide="incompleteCount() == 0"使未办事项数为0时不显示此标签-->
    <span class="label label-default" ng-hide="incompleteCount() == 0" ng-class="warningLevel()">{{incompleteCount()}}</span></h1>
</div>
<div class="panel">
    <div class="input-group">
        <input class="form-control" ng-model="actionText"/>
        <span class="input-group-btn">
                <button class="btn btn-default" ng-click="addNewItem(actionText)">Add</button>
        </span>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in todo.items">
            <td style="width:500px">{{item.action}}</td>
            <td style="width:500px"><input type="checkbox" ng-model="item.done"/></td>
            <td style="width:500px">{{item.done}}</td>
            <td><input type="button" class="btn btn-info" value="编辑"></td>
            <td><input type="button" class="btn btn-danger" value="删除" ng-click="delete(item.id);"></td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="js/resource.js"></script>
<script type="text/javascript" src="js/mock.js"></script>
</body>
</html>